@import './_shared/variables';
.socialMedia{
    &-chip{
        position: relative;
        float: left;
        width: 20%;
        height: 100%;
        background: royalblue;
        cursor: pointer;
    }
    &-chip-icon{
        position: absolute;
        width: 12px;
        height: 12px;
        top: 0px;
        left: 0;
        left: 50%;
        margin-left: -6px;  
        svg{
            fill: $white-paint;
            position: absolute;
            top: 0px;            
        }      
    }
    &--instagram{
        background: #f09433; 
        background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
        background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );        
    }
    &--facebook{
        background: $facebook-paint;
    }
    &--youtube{
        background: $youtube-paint;
    }
    &--linkedin{
        background: $linkedin-paint;
    }
    &--menu{
        background: $menu-paint;
    }
}